.app_layout {
  width: 100%;
  height: 87vh;
}
.app_layout .app_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(90deg, #fda800 0%, #d1193e 100%);
  position: relative;
}
.app_layout .app_header::before {
  content: "";
  position: absolute;
  left: 0;
  width: 99%;
  bottom: 0;
  padding: 0.03rem;
  background: linear-gradient(180deg, #fda800 0%, #e41f47 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.app_layout .app_header_left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.app_layout .app_header_left .logo {
  position: relative;
}
.app_layout .app_header_left .logo svg {
  width: 2.5rem;
}
.app_layout .app_header_left h2 {
  font-size: 1.2rem;
  color: var(--title-color);
}
.app_layout .app_header_right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.app_layout .app_header_right_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.app_layout .app_header_right_links a {
  color: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.app_layout .app_header_right_links a svg path {
  fill: var(--small-text-color);
}
.app_layout .app_header_right_user_profile {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #d1193e;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.app_layout .app_grid {
  width: 100%;
  height: 100%;
  display: flex;
}
.app_layout .app_grid .app_nav {
  padding: 1rem;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 0;
}
.app_layout .app_grid .app_nav::before {
  content: "";
  position: absolute;
  height: 99%;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0.03rem;
  background: linear-gradient(180deg, #fda800 0%, #e41f47 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.app_layout .app_grid .app_nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
}
.app_layout .app_grid .app_nav a:hover {
  background: #ffa5b7;
}
.app_layout .app_grid .app_content {
  width: 100%;
  height: 100%;
}
.app_layout .dashboard_layout {
  padding: 2rem;
  height: 100%;
  overflow: auto;
  /* For WebKit browsers like Chrome, Edge, Safari */
}
.app_layout .dashboard_layout::-webkit-scrollbar {
  width: 4px;
}
.app_layout .dashboard_layout::-webkit-scrollbar-track {
  background: #f5f5f5;
}
.app_layout .dashboard_layout::-webkit-scrollbar-thumb {
  background: #d8d8d8; /* You can change this to match your theme */
  border-radius: 6px;
}
.app_layout .dashboard_layout::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
.app_layout .dashboard_layout .top_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.app_layout .dashboard_layout .top_bar .right {
  flex-shrink: 0;
}/*# sourceMappingURL=Index.module.css.map */